.city{
    display: flex;
    margin: 100px 100px;
    justify-content: space-between;
    
    /* margin-left: 300px; */
}

.div1{
    width: 100px;   
}
.div2{
    width: 100px;
}
.div3{
    width: 100px;
}
.div4{
    width: 100px;
}
.div5{
    width: 100px;
}
.div6{
    width: 100px;
}

.facility{
    display: flex;
    justify-content: space-around;
    margin: 100px 100px;
    height: 500px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: rgb(255, 125, 4);
    ;
    /* margin-top: 10px; */
}
#blk{
    color: aliceblue;
    padding: 5px 0px;
    
    
}
.login a{
    margin: 20px 40px;
    width: 200px;
    color: black;
    font-size: larger;
    font-size: x-large;
    
}
#blk1{
    background-color: black;
    border-radius: 50px;
}
.eat{
    width: 400px;
    height: 300px;
    margin-top: 0px;
}
.delivery{
    width: 400px;
    height: 300px;
}

.about{
    width: 400px;
    height: 300px;
}
.logo h1{
    font-size: 300%;
    margin: 10px;
}
.eat img{
    width: 350px;
    border: 4px solid white;
}
.delivery img{
    width: 350px;
    border: 4px solid white;
}
.about img{
    width: 350px;
    border: 4px solid white;
}
.para{
    width: 350px;
}
.log img{
    margin: 0px 100px;
}

.search{
    background-image: url(../image/wallpaper3.jpg);
    background-size: cover;
    height: 70vh;
    margin-top: 0px;
    padding: 200px 0px 0px 700px;
}
.search input{
    width: 600px;
    height: 40px;
    border-radius: 10PX;
    font-size: larger;
    font-style: italic;
    padding-left: 20px;
}
.search button{
    margin-left: 35px;
    height: 40px;
    background-color: rgb(255, 125, 4);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-size: larger;
    padding:7px 0px ;    width: 100px;
}
.homeimg{
    padding-top: 250px;
    padding-left: 300px;
    width: 400px;
    height: 150px;
    justify-content: space-around;
}
/* //GOCOMMET */