.review1{
    margin-left: 250px;
}
.total2 h1{
    margin: 0px;
}
.total2{
    margin-left: 100px;
    padding-top: 40px;
}
.review{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.card2{
    margin: 20px;
    border: 5px solid rgb(111, 94, 235);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.837);
    width: 1100px;
    border-radius: 10px;
    color: azure;

}
.card2 button{
    margin: 20px 0px 0px 25px;
    background-color: rgb(255, 0, 0);
    padding: 5px 10px;
    /* font-weight: 500; */
}
