.mid img{
    height: 200px;
    width: 250px;
    border: 2px solid white;
    border-radius: 20px;
}
.userhome{
    display: flex;
    background-color: rgb(0, 0, 0);
    margin-left: 250px;
    /* width: 80%; */
}
.cont img{
    height: 200px;
    width: 350px; 
    margin-left: 450px; 
    /* margin-bottom: 50px; */
    margin-top: 40px;
    border: 2px solid white;
    
}
.fac{
    width: 300px;
    height: 450px;
    margin-left: 100px;
    color: aliceblue;
}
.fac h1{
    margin-top: 0px;
    font-size: 1000%;
    
}
.fac h4{
    font-size: 150%;
    width: 300px;
}
.top1{
    display: flex;
   
}
.mid{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    color: aliceblue;
    text-align: center;
    /* width:fit-content; */
}
.footer img{
    width: 985px;
    margin: 70px 140px;
    border: 2px solid white;
    border-radius: 20px;
}
.pic1{
    height: 300px;
    width: 350px;
}
.pic2{
    height: 300px;
    width: 400px;
}
.pic3{
    height: 300px;
    width: 400px;
}

